{% extends "base.html" %}
{% block content %}
<!-- store_list.html -->

<div class="page_header">My Stores</div>

{% if stores %}
    {% for store in stores %}
        <div class="panel">
            <table>
                <tr>
                    <td valign="top" align="center" nowrap>
                        {% if store.profile.avatar %}
                            <a target="_blank" href="{{ store.profile.avatar.url }}">
                                <img src="{{ store.profile.avatar.url }}" alt="Avatar" class="avatar">
                            </a>
                        {% else %}
                            <img src="/static/nophoto_{{ store.profile.profiletype }}.png" alt="Avatar" class="avatar">
                        {% endif %}

                        <p>{{ store.profile.get_profiletype_display }}</p>
                        <p>
                            <a href="{% url 'stores:store_update' store.profile.id %}">Edit</a> /
                            <a href="{% url 'stores:store_detail' store.profile.id %}">View</a> /
                            <a href="{% url 'stores:store_delete' store.profile.id %}">Delete</a>
                        </p>
                    </td>
                    <td></td>
                    <td valign="top">
                        <b>{{ store.profile.displayname }}</b>
                        <p>
                            <strong>Store Type:</strong> {{ store.store_type }}<br />
                            {% if store.event %}<strong>Event:</strong> {{ store.event }}<br />{% endif %}
                            {% if store.location %}<strong>Location:</strong> {{ store.location }}<br />{% endif %}
                            {% if store.club %}<strong>Club:</strong> {{ store.club }}<br />{% endif %}
                            {% if store.team %}<strong>Team:</strong> {{ store.team }}<br />{% endif %}
                        </p>

                        {% if store.attributes.exists %}
                            <table>
                                {% for attr in store.attributes.all %}
                                    <tr>
                                        <td>
                                            {{ attr.attribute.name }}
                                        </td>
                                        <td>
                                            {{ attr.value }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>No attributes yet.</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% else %}
    <div class="panel">
        None found<br /><br />
        <a href="/profiles/">Back to Profiles</a>
    </div>
{% endif %}
{% endblock %}
