<!-- race_form.html -->
{{ form.non_field_errors }}
<table>
    <tr>
        <td>
            {{ form.race_type.label_tag }}
        </td>
        <td>{{ form.race_type }}</td>
    </tr>
    <tr>
        <td>{{ form.event.label_tag }}</td>
        <td>{{ form.event }}</td>
    </tr>
    <tr>
        <td>{{ form.location.label_tag }}</td>
        <td>{{ form.location }}</td>
    </tr>
    <tr>
        <td>{{ form.track.label_tag }}</td>
        <td>{{ form.track }}</td>
    </tr>
    <tr>
        <td>{{ form.club.label_tag }}</td>
        <td>{{ form.club }}</td>
    </tr>
    <tr>
        <td>{{ form.team.label_tag }}</td>
        <td>{{ form.team }}</td>
    </tr>
    <tr>
        <td>{{ form.transponder.label_tag }}</td>
        <td>{{ form.transponder }}</td>
    </tr>
</table>
