{% extends "base.html" %}
{% block content %}
{% load race_filters %}
<!-- topspeed_race_list.html -->

<div class="panel">
<center>
<h3>{{ race.profile.displayname }}</h3>
</center>
<table style="width:100%; text-align:center;" cellpadding="2" cellspacing="2">
    <tr>
        {% if not race.race_finished %}
            <th>Action</th>
        {% endif %}
        <th>Driver</th>
        <th>Model</th>
        <th>TopSpeed</th>
    </tr>
    {% for d in racedrivers %}
        <tr>
            {% if not race.race_finished %}
                <td>
                    {% if d.run and d.run.topspeed %}
                        --
                    {% else %}
                        <a href="{% url 'races:topspeed_race_run' profile_uuid=d.driver.uuid race_uuid=race.uuid racedriver_uuid=d.uuid %}">
                            Run
                        </a>
                    {% endif %}
                </td>
            {% endif %}
            <td>{{ d.driver.displayname }}</td>
            <td>{{ d.model.displayname }}</td>
            {% if d.run and d.run.topspeed %}
                <td align="right" style="padding-right:1.5em;">{{ d.run.topspeed }} mph</td>
            {% else %}
                <td>--</td>
            {% endif %}
        </tr>
    {% empty %}
        <tr><td colspan="5">No drivers signed up yet.</td></tr>
    {% endfor %}
</table>

{% if not race.race_finished %}
    <br />
    <form method="post" action="{% url 'races:race_lock_toggle' profile_uuid=race.profile.uuid race_uuid=race.uuid %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% if race.entry_locked %}
                Unock Entries
            {% else %}
                Lock Entries
            {% endif %}
        </button>
    </form>
{% endif %}

<br />

{% if not race.race_finished %}
    <form method="post" action="{% url 'races:topspeed_race_finish' profile_uuid=race.profile.uuid race_uuid=race.uuid %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            Finish Race
        </button>
    </form>
{% else %}
    <center><h4>-Race is Finished-</h4></center>
{% endif %}

</div>
{% endblock %}
