{% extends "base.html" %}
{% block content %}
<!-- profile_update.html -->
<div class="panel">
<form method="post" enctype="multipart/form-data" action="{% url 'profiles:update-profile' profile.id %}">

    {% csrf_token %}

    <center>
        <h3>Edit {{ profile.get_profiletype_display }}</h3>
    </center>

    {{ profile_form.as_p }}

    {% if related_form %}
        {{ related_form.as_p }}
    {% endif %}

    {% if profile.profiletype == "MODEL" %}
        {% include "profiles/profile_update_attributes.html" %}
    {% else %}
    {% endif %}

    <center>
        <button type="submit" class="btn-wide">Save</button><p>
        <input type="button" class="btn-wide btn-green" value="Cancel"
            onclick="self.location.href='/profiles/{{ profile.id }}/'">
    </center>
</form>
</div>
{% endblock %}
